
.conatiner{    
    width: 80%;
    margin: 20px auto;
}

ul{
    list-style: none;
    text-align: center;
}

li{
    height: 50px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 2px solid rgb(65, 81, 107);
    border-radius: 25px;
    margin-bottom: 15px;
}

span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
